section{
    display: flex;
    width: 700px;
    border: 1px solid lightgrey;
    padding: 20px 50px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.total{
    background-color: #088178;
    color: #fff;
    float: right;
    font-size: 17px;
    padding: 10px 30px;
    font-weight: 600;
    font-family: cursive;
    border-radius: 50%;
}
.total::before{
    content: "\20A6";
}
.pro_img_div{
    border-right: 2px solid lightgrey;
}
.pro_description{
    padding-left: 30px;
}
p::before{
    content: "\20A6";
}
.QTY_SIZE{
    display: flex;
}
.QTY_SIZE h4{
    margin: 0;
}
.QTY_SIZE .sizeDiv{
    margin-left: 40px;
}
.sizeDiv select{
    padding: 8px;
}
.fa-star{
    color: rgb(243,181,25);
}
#product_description{
    font-size: 13px;
    font-weight: 600;
}
.mybutton{
    border: 1px solid #444;
    border-radius: 5px;
}
.mybutton button:first-child{
    border: none;
    background: none;
    background-color: rgb(184, 35, 35);
    padding: 5px 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
}
.mybutton button:last-child{
    border: none;
    background: none;
    background-color: teal;
    padding: 5px 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
}
.cartDiv{
    margin-top: 10px;
}
.cart{
    background-color: #088178;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 40px;
    border-radius: 10px;
    border: 5px dotted #088178;
    transition: .5s;
}
.cart:hover{
    background-color: #fff;
    color: #088178;
}
.favbutton{
    margin-left: 13px;
    padding: 8px;
    font-size: 20px;
    background: none;
    border: 1px solid #777;
}
.social{
    margin-left: 10px;
    background-color: rgba(0,0,0,0.3);
    padding: 6px;
    border-radius: 12px;
}
.shareIt{
    margin-top: 14px;
}
nav{
    display: flex;
}